.vs
.idea
bin
obj
*.user
Content/Map_Test/autosave
Content/Maps/autosave
Content/FMOD/celeste64/.cache
Content/FMOD/celeste64/.user
Content/FMOD/celeste64/.unsaved
/c64_high_res_map.png
/c64_low_res_map.png
